html, body { 
	margin: 0; 
	padding: 0;
}

body {
	background: #772222;
	background-image: url('../img/bg_normal_tile.png');
	overflow: hidden;
}

#resources {
	display: none;
}

#canvasContainer { 
	width: 800px;
	margin: 0 auto; 
	display: block;
	position: relative; 
	top: 0px;
	left:0px
}

#scoreDialog {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 30px;
	left: 100px;
	padding: 20px;
	text-align:center;
	color: #669900;
	background-color: #fff;
	border-radius: 8px;
	opacity: 0.8;
}

.bar {
	border-radius: 8px;
}
.player {	
	background-image: url('../img/alphacell.png');
	background-repeat: none;
}

.host {	
	background-image: url('../img/front-tile.png');
	background-repeat: none;
}

.meat {
	position: absolute;
	background-image: url('../img/front-tile.png');
	width: 400px;
	height: 400px;
}
 
@-webkit-keyframes beatleft {
  from {
      margin-left: 10px;
  }
 
  to {
    margin-left: 0px;
  }
}

@-webkit-keyframes beatright {
  from {
      margin-right: 10px;
  }
 
  to {
    margin-right: 0px;
  }
}

.west {
	top: -80px;
	left: -320px;
}
.east {
	top: -80px;
	right: -320px;
	height: 400px;
}
.south {
	bottom: -270px;
	left: 230px;
}
.southwest {
	bottom: -30px;
	left: -280px;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 3s;
    -webkit-animation-name: beatleft;
}
.southeast {
	bottom: -75px;
	right: -280px;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 3s;
    -webkit-animation-name: beatright;
}
.southsouthwest {
	bottom: -230px;
	left: -80px;
}
.southsoutheast {
	bottom: -230px;
	right: -80px;
}
