html, body { 
	margin: 0; 
	padding: 0;
}

body {
	background: #772222;
	background-image: url('../img/bg_normal_tile.png');
	overflow: hidden;
}

#resources {
	display: none;
}

#canvasContainer { 
	width: 800px;
	margin: 0 auto; 
	display: block;
	position: relative; 
	top: 0px;
	left:0px
}

.meat {
	position: absolute;
	background-image: url('../img/front-tile.png');
	width: 400px;
	height: 400px;
}

.west {
	top: -80px;
	left: -320px;
}
.east {
	top: -80px;
	right: -320px;
	height: 400px;
}
.south {
	bottom: -270px;
	left: 230px;
}
.southwest {
	bottom: -30px;
	left: -280px;
}
.southeast {
	bottom: -75px;
	right: -280px;
}
.southsouthwest {
	bottom: -230px;
	left: -80px;
}
.southsoutheast {
	bottom: -230px;
	right: -80px;
}
